.insetShadow{
  position: relative;
}

.insetShadow::after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to top, #0000005d 10%, transparent 60%);
  inset: 0;
}

button{
  text-align: unset;
}

.deleteNote{
  border: none;
  background-color: #434343;
  animation-name: shake;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 30% 5%;
  animation-duration: .5s;
}

@keyframes shake {
  0% {
    transform: rotate(-1.3deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}